In [1]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [34]:
numbers = [1,51]

Movies,Meta,Gross=[],[],[]

for number in numbers:
    
    url= f"https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start={number}"

    response = requests.get(url)

    soup = BeautifulSoup(response.content,"html.parser")


    for movie in soup.find_all("div",class_ = "lister-item-content"):

                                       
        rank = movie.find("span" ,class_="lister-item-index unbold text-primary").text.strip(".")
        
        title = movie.find("a").text

        year = int(movie.find("span",class_="lister-item-year text-muted unbold").text.strip("(I) ()"))

        duration = int(movie.find("span",class_="runtime").text.strip(" min"))

        genre = movie.find("span", class_="genre").text.strip("'\n ")

        rate = movie.find("strong").text

                
        Movies.append({"Rank":rank,"Title":title ,"Duration(min)":duration,"Genre":genre,"Rate":rate,
                       "Year":year})

    for m in soup.find_all("span",class_="metascore favorable"):
        
        metascore = int(m.text.strip("      "))
        
        Meta.append({"Metascore":metascore})
   
        
    for g in soup.select('.sort-num_votes-visible span:nth-child(5)'):
        
        gross = str(g.text).strip("$M")
        
        Gross.append({"Gross($M)":gross})

In [49]:
df_movie = pd.DataFrame(Movies)
df_meta = pd.DataFrame(Meta)
df_gross = pd.DataFrame(Gross)

In [51]:
df_movie.head()

,Rank,Title,Duration(min),Genre,Rate,Year
0,1,The Shawshank Redemption,142,Drama,9.3,1994
1,2,The Godfather,175,"Crime, Drama",9.2,1972
2,3,The Dark Knight,152,"Action, Crime, Drama",9.0,2008
3,4,The Godfather: Part II,202,"Crime, Drama",9.0,1974
4,5,12 Angry Men,96,"Crime, Drama",9.0,1957

In [52]:
df_meta.head()

   Metascore
0         80
1        100
2         84
3         90
4         96

In [50]:
df_gross.head()

  Gross($M)
0     28.34
1    134.97
2    534.86
3     57.30
4      4.36

### Metascore is considered the rating of a film.
###### Scores are assigned to movie's reviews of large group of the world's most respected critics, and weighted average are applied to summarize their opinions range. The result is shown in single number that captures the essence of critical opinion in one Metascore.