In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime

In [5]:
# select the date for starting and ending of top200 track 

datelist = pd.date_range(start='2021-02-14', end='2021-02-15')

dates = datelist.strftime("%Y-%m-%d").tolist()

#for having top 200 in any country copy abbreviation in the countries list 

countries =["global","us"] 

top200=[]

for country in countries:
    
    for date in dates:

        url = f"https://spotifycharts.com/regional/{country}/daily/{date}"
        response = requests.get(url)
        soup = BeautifulSoup(response.content,"html.parser")

        for rank,track in enumerate(soup.find_all("td",class_ ="chart-table-track"),1):
            
            title = track.find("strong")
            
            artist=track.find("span")
            
            streams = soup.find_all("td",class_ ="chart-table-streams")
            
            select = soup.find_all("li",class_="selected")
            
            top200.append({"Rank":rank,"Title": title.text,"Artist":artist.text.strip("by "),"Streams": streams[rank-1].text,"Country":select[0].text,"Date":select[2].text})

In [6]:
df = pd.DataFrame(top200)
df.head()

,Rank,Title,Artist,Streams,Country,Date
0,1,drivers license,Olivia Rodrigo,"5,900,726",Global,02/14/2021
1,2,Save Your Tears,The Weeknd,"4,001,082",Global,02/14/2021
2,3,Calling My Phone,"Lil Tjay, 6LACK","3,759,015",Global,02/14/2021
3,4,Blinding Lights,The Weeknd,"3,684,000",Global,02/14/2021
4,5,DÁKITI,"Bad Bunny, Jhay Cortez","3,547,468",Global,02/14/2021

In [7]:
df.tail()

,Rank,Title,Artist,Streams,Country,Date
795,196,Get You (feat. Kali Uchis),Daniel Caesar,"189,986",United States,02/15/2021
796,197,Murder On My Mind,YNW Mell,"189,943",United States,02/15/2021
797,198,Remember That Night?,Sara Kays,"189,668",United States,02/15/2021
798,199,Chicago Freestyle (feat. Giveon),Drake,"189,514",United States,02/15/2021
799,200,Empty,Juice WRLD,"189,328",United States,02/15/2021

In [8]:
df["Date"]=pd.to_datetime(df["Date"])
df['Streams'] = df['Streams'].apply(lambda x:x.replace(",","")).astype(str).astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     800 non-null    int64
 1   Title    800 non-null    object
 2   Artist   800 non-null    object
 3   Streams  800 non-null    int64
 4   Country  800 non-null    object
 5   Date     800 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 37.6+ KB

In [10]:
df.to_csv("./spotify_top200.csv")

### list of countries with their abbreviation 
<li data-value="global" class="">Global  is    "global"</li>
<li data-value="gb" class="">United Kingdom  is   "gb"</li>
<li data-value="ar" class="">Argentina is   "ar"</li>
<li data-value="au" class="">Australia is   "au"</li>
<li data-value="us" class="">United States is   "us"</li>
<li data-value="ca" class="">Canada is    "ca"</li>
<li data-value="it" class="">Italy is    "it"</li>
<li data-value="es" class="">Spain is    "es"</li>
<li data-value="de" class="">Germany is    "de"</li>